*{
    margin: 0px;
    padding: 0px;
}
.head{
   background-color: deeppink;
   color:black;
   width: 100%;
   padding: 20px;
   font-size: 20px;
}
.c{
    padding: 10px;
}
.container{
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 20px;
    margin-left: 20px;
    margin-top: 20px;
    width: 20%;
    display: inline-block;
    vertical-align: top;
}
.container h2{
    
    color: deeppink;
    font-size: 20px;
}
.container h4{
    margin: 5px;
    color: chartreuse;
    font-size: 17px;
}
.btn{
    color: black;
    background-color: deeppink;
    padding: 10px;
    margin-top: 15px;
    box-shadow: 2px 1px  rgb(220, 57, 144);
    border-radius: none;
}
.add-btn{
    position: fixed;
    right: 30px;
    bottom: 30px;
    border-radius: 100%;
    border: none;
    font-size: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: deeppink;
    color: aliceblue;
}
.over{
    position: absolute;
    display: none;
    background-color: black;
    opacity: 0.8;
    top:0;
    left:0;
    z-index: 1;
    width: 100%;
    height: 100%;
}
.pop{
    background-color: rgb(207, 76, 146);
    color: black;
    position: absolute;
    left: 30%;
    top:20%;
    width:40%;
    padding: 40px;
    z-index: 2;
    border-radius: 10px;
    display: none;
}
.pop input{
    background: transparent;
    width: 100%;
    padding: 5px;
    margin: 5px;
    border: none;
    font-size: 20px;
    border-bottom: solid 2px black;
    

}
.pop textarea{
    background: transparent;
    width: 100%;
    padding: 5px;
    margin: 5px;
    border: none;
    font-size: 20px;
    border-bottom: solid 2px black;
}
.addbook{
    border-radius: 5px;
    background-color: black;
    color: rgb(150, 61, 109);
    padding: 5px;
    margin: 10px;
}
.cancel{
    border-radius: 5px;
    background-color: black;
    color: rgb(136, 60, 101);
    padding: 5px;
    margin: 10px;
}